<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="booking1.rth.web.id">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_rth_booking"
        android:label="@string/app_name"
        android:logo="@mipmap/icon_rth_booking"
        android:roundIcon="@mipmap/icon_rth_booking"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity android:name="booking1.rth.web.id.DateSpecificActivity" />
        <activity android:name="booking1.rth.web.id.UserProfileActivity" />
        <activity android:name="booking1.rth.web.id.CalendarActivity" />
        <activity android:name="booking1.rth.web.id.LoginActivity" />
        <activity android:name="booking1.rth.web.id.BookingScheduleActivity" />
        <activity android:name="booking1.rth.web.id.PickDateActivity" />
        <activity android:name="booking1.rth.web.id.ClientProfileActivity" />
        <activity android:name="booking1.rth.web.id.TutorialActivity" />
        <activity android:name="booking1.rth.web.id.WelcomeActivity" />
        <activity android:name="booking1.rth.web.id.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>